.footer {
  width: 100%;
  background-color: #333;
  text-align: center;
  letter-spacing: 1px; }

.main {
  width: 1100px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  padding-top: 52px;
  padding-bottom: 48px; }

.navFooter {
  display: block;
  white-space: nowrap;
  padding: 0;
  margin: 0; }

.top32 {
  margin-top: 32px; }

.nowidth {
  width: auto !important; }

.nowidth li:before {
  display: none; }

.left34px {
  margin-left: 34px; }

.navFooter li {
  display: inline-block;
  width: 140px;
  height: 1em;
  line-height: 1em;
  color: #d2d2d2;
  padding: 0;
  position: relative; }

.navFooter li a {
  color: #d2d2d2;
  cursor: pointer; }

.navFooter li:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 1px;
  background: #999;
  left: 0;
  top: 0; }

.navFooter li:nth-of-type(1):before {
  display: none; }

.navFooter li a:hover {
  color: #fff;
  text-decoration: underline; }

.navCopy {
  color: #d2d2d2;
  margin-top: 32px;
  font-size: 14px; }
